.o/
.o
.metadata/
RemoteSystemsTempFiles/
.DS_Store/
Debug/
**/.DS_Store/
**.DS_Store
/2012_like_this/Project42/Project42.v11.suo
/VisualStudioHelloWorld2010/VisualStudioHelloWorld2010.suo
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/2.8.11.1/CMakeCCompiler.cmake
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/2.8.11.1/CMakeCXXCompiler.cmake
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/2.8.11.1/CMakeDetermineCompilerABI_C.bin
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/2.8.11.1/CMakeDetermineCompilerABI_CXX.bin
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/2.8.11.1/CMakeSystem.cmake
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/2.8.11.1/CompilerIdC/CMakeCCompilerId.c
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/2.8.11.1/CompilerIdC/a.out
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/2.8.11.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/2.8.11.1/CompilerIdCXX/a.out
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/CMakeDirectoryInformation.cmake
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/CMakeOutput.log
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/Makefile.cmake
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/Makefile2
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/TargetDirectories.txt
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/cmake.check_cache
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/palindromes.dir/CXX.includecache
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/palindromes.dir/DependInfo.cmake
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/palindromes.dir/build.make
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/palindromes.dir/cmake_clean.cmake
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/palindromes.dir/depend.internal
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/palindromes.dir/depend.make
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/palindromes.dir/flags.make
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/palindromes.dir/link.txt
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/palindromes.dir/misc.cpp.o
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/palindromes.dir/palindrome.cpp.o
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/palindromes.dir/progress.make
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/palindromes.dir/string.cpp.o
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeFiles/progress.marks
/accelerated.cpp.from.emacs/chap.5.palindrome/CMakeLists.txt
/accelerated.cpp.from.emacs/chap.5.palindrome/cmake_install.cmake
/accelerated_cpp_hello_world/chap_5_string_stuff/chap_5_string_stuff.layout
/accelerated_cpp_hello_world/visual.studio/BitchAss/BitchAss.suo
/accelerated_cpp_hello_world/visual.studio/BitchAss/BitchAss/BitchAss.vcxproj.filters
/accelerated_cpp_hello_world/visual.studio/BitchAss/BitchAss/BitchAss.vcxproj.user
/casperTest/casperTest.suo
/casperTest/casperTest/casperTest.vcxproj.filters
/casperTest/casperTest/casperTest.vcxproj.user
/from.emacs/CMakeFiles/2.8.11.1/CMakeCCompiler.cmake
/from.emacs/CMakeFiles/2.8.11.1/CMakeCXXCompiler.cmake
/from.emacs/CMakeFiles/2.8.11.1/CMakeDetermineCompilerABI_C.bin
/from.emacs/CMakeFiles/2.8.11.1/CMakeDetermineCompilerABI_CXX.bin
/from.emacs/CMakeFiles/2.8.11.1/CMakeSystem.cmake
/from.emacs/CMakeFiles/2.8.11.1/CompilerIdC/CMakeCCompilerId.c
/from.emacs/CMakeFiles/2.8.11.1/CompilerIdC/a.out
/from.emacs/CMakeFiles/2.8.11.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/from.emacs/CMakeFiles/2.8.11.1/CompilerIdCXX/a.out
/from.emacs/CMakeFiles/CMakeDirectoryInformation.cmake
/from.emacs/CMakeFiles/CMakeOutput.log
/from.emacs/CMakeFiles/Makefile.cmake
/from.emacs/CMakeFiles/Makefile2
/from.emacs/CMakeFiles/TargetDirectories.txt
/from.emacs/CMakeFiles/cmake.check_cache
/from.emacs/CMakeFiles/progress.marks
/from.emacs/CMakeFiles/shitfire.dir/CXX.includecache
/from.emacs/CMakeFiles/shitfire.dir/DependInfo.cmake
/from.emacs/CMakeFiles/shitfire.dir/build.make
/from.emacs/CMakeFiles/shitfire.dir/cmake_clean.cmake
/from.emacs/CMakeFiles/shitfire.dir/depend.internal
/from.emacs/CMakeFiles/shitfire.dir/depend.make
/from.emacs/CMakeFiles/shitfire.dir/emacs.hello.cpp.o
/from.emacs/CMakeFiles/shitfire.dir/flags.make
/from.emacs/CMakeFiles/shitfire.dir/link.txt
/from.emacs/CMakeFiles/shitfire.dir/progress.make
/from.emacs/CMakeLists.txt
/from.emacs/cmake_install.cmake
/vs2012helloworld/Project1/Project1.v11.suo
/vs2012helloworld/Project1/Project1/Project1.vcxproj.filters
